{
  "plugins": ["prettier-plugin-astro", "@ianvs/prettier-plugin-sort-imports"],
  "overrides": [
    {
      "files": "*.astro",
      "options": { "parser": "astro" }
    }
  ],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/layouts/(.*)$",
    "^@/components/ui/(.*)$",
    "^@/components/(.*)$",
    "",
    "^@/hooks/(.*)$",
    "",
    "^@/(types|utils|lib)/(.*)$",
    "",
    "data/(.*)$",
    "",
    "^(?!.*[.]css$)[./].*$",
    ".css$",
    ""
  ],
  "importOrderCaseSensitive": true
}
