{
  "plugins": [
    "prettier-plugin-astro",
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-unused-imports-configurable"
  ],
  "overrides": [
    {
      "files": "*.astro",
      "options": { "parser": "astro" }
    }
  ],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/layouts/(.*)$",
    "^@/components/ui/(.*)$",
    "^@/components/(.*)$",
    "",
    "^@/(types|utils|lib)/(.*)$",
    "",
    "data/(.*)$",
    "",
    "^(?!.*[.]css$)[./].*$",
    ".css$",
    ""
  ],
  "importOrderCaseSensitive": true
}
