---
import { SearchableList } from "@/components/searchable-list";
---

<html lang="id">
  <head>
    <title>Daftar Doa</title>
  </head>
  <body class="bg-gray-50">
    <SearchableList client:only />
  </body>
</html>
