---
import { SearchableList } from "@/components/ui/searchable-list";
---

<html lang="id">
  <head>
    <title>Daftar Doa</title>
  </head>
  <body class="bg-gray-50">
    <nav class="w-full p-4 bg-blue-500 text-white text-center font-bold">
      Navbar
    </nav>
    <SearchableList client:only />
  </body>
</html>
