---
import { pwaInfo } from "virtual:pwa-info";

import { Toaster } from "@/components/ui/sonner";
import { themeScript } from "@/components/theme-toggle";

import "../styles/global.css";

import { AnnouncementBar } from "@/components/announcement-bar";
import { Navbar } from "@/components/navbar";

const { fixedNavbar = false } = Astro.props;
---

<script is:inline set:html={themeScript} />

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      href="/favicon-dark.png"
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="icon"
      type="image/png"
      href="/favicon.png"
      media="(prefers-color-scheme: light)"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Istajiblanaa | Dua from al-Qur'an and as-Sunnah</title>
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
  </head>
  <body>
    <!-- `    <AnnouncementBar
      client:load
      eventId="asyrul-awakhir-2025"
      eventMessage="Perbanyak Baca Doa ini di 10 Malam Terakhir Ramadhan!"
      eventLink="/dua/81"
      bgColor="bg-green-600"
      textColor="text-white"
      className={fixedNavbar ? "fixed" : "relative"}
    />` -->

    <Navbar client:only="react" fixedNavbar={fixedNavbar} />

    <main class={`${fixedNavbar ? "pt-20" : ""}`}>
      <slot />
    </main>
    <Toaster client:load />
  </body>
</html>

<style>
  :root {
    color-scheme: light;
  }

  :root.dark {
    color-scheme: dark;
  }

  html {
    scroll-behavior: smooth;
  }

  * {
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
  }
</style>
